<h1>New Game</h1>

<div class="container">
  <div class="row row-cols-10 align-item-center text-center">
    <div class="col-sm">
      <% @letters.each do |letter| %>
        <%= letter %>
      <% end %>
    </div>
  </div>
</div>

<div>
  <form action="/score" method="POST" data-turbo="false">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for="play">What is the longest word you can find?</label>
    <input type="text" name="word">
    <input type="submit" value="Play!">
  </form>
</div>
